<div>
  <div class="crono-container">
    <div class="crono-tiempo" data-testid="crono-tiempo">{{ getDisplay() }}</div>

    <div class="crono-datos">
      <div class="sentido" data-testid="crono-sentido">{{ cronoEngine.sentido() }}</div>
      <div class="estado"
           data-testid="crono-estado"
           [class.running]="cronoEngine.estado() === 'RUNNING'"
           [class.paused]="cronoEngine.estado() === 'PAUSED'"
           [class.stopped]="cronoEngine.estado() === 'STOPPED'">
        {{ cronoEngine.estado() }}
      </div>
    </div>
  </div>

  <div>
    <div class="grupoBotones">
      <button [disabled]="cronoEngine.estado() !== 'STOPPED'"
              class="btn-start"
              data-testid="btn-start"
              (click)="cronoEngine.start()">
        START
      </button>

      <button [disabled]="cronoEngine.estado() !== 'RUNNING'"
              class="btn-pause"
              data-testid="btn-pause"
              (click)="cronoEngine.pause()">
        PAUSE
      </button>

      <button [disabled]="cronoEngine.estado() !== 'PAUSED'"
              class="btn-resume"
              data-testid="btn-resume"
              (click)="cronoEngine.resume()">
        RESUME
      </button>

      <button [disabled]="cronoEngine.estado() === 'STOPPED' || cronoEngine.sentido() === 'UP'"
              class="btn-up"
              data-testid="btn-up"
              (click)="cronoEngine.up()">
        UP
      </button>

      <button [disabled]="cronoEngine.estado() === 'STOPPED' || cronoEngine.sentido() === 'DOWN'"
              class="btn-down"
              data-testid="btn-down"
              (click)="cronoEngine.down()">
        DOWN
      </button>

      <button [disabled]="cronoEngine.estado() === 'STOPPED'"
              class="btn-reset"
              data-testid="btn-reset"
              (click)="cronoEngine.reset()">
        RESET
      </button>
    </div>
  </div>
</div>
