<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Estado</th>
            <th>Dirección</th>
            <th>Velocidad</th>
            <th>Total Segundos</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(entry of poolEntries(); track entry[0]){
        <tr>
            <td>{{entry[0]}}</td>
            <td class="estado"
                [class.running]="entry[1].estado() === 'RUNNING'"
                [class.paused] ="entry[1].estado() === 'PAUSED'"
                [class.stopped]="entry[1].estado() === 'STOPPED'"
           >{{entry[1].estado()}}
            </td>
            <td>{{entry[1].sentido()}}</td>
            <td>{{entry[1].velocidad()}}</td>
            <td>{{entry[1].totalSegundos()}}</td>
            <td><button [disabled]="entry[1].estado() !== 'STOPPED'" class="btn-start" (click)="entry[1].start()">START</button></td>
            <td><button [disabled]="entry[1].estado() !== 'RUNNING'" class="btn-pause"(click)="entry[1].pause()">PAUSE</button></td>
            <td><button [disabled]="entry[1].estado() !== 'PAUSED'"class="btn-resume"(click)="entry[1].resume()">RESUME</button></td>
            <td><button [disabled]="entry[1].estado() === 'STOPPED' || entry[1].sentido() === 'UP'" class="btn-up" (click)="entry[1].up()">UP</button></td>
            <td><button [disabled]="entry[1].estado() === 'STOPPED' || entry[1].sentido() === 'DOWN'" class="btn-down"(click)="entry[1].down()">DOWN</button></td>
            <td><button [disabled]="entry[1].estado() === 'STOPPED'"class="btn-reset"(click)="entry[1].reset()">RESET</button></td>
            <td><button (click)="cronoPoolService.deleteById(entry[0])">DELETE</button></td>
            <td><button (click)="entry[1].setVelocidad(100)">100</button></td>
            <td><button (click)="entry[1].setVelocidad(500)">500</button></td>
            <td><button (click)="entry[1].setVelocidad(1000)">1000</button></td>
        </tr>
    }
    </tbody>
</table>


<button (click)="addCrono()">Add Crono</button>
<button (click)="cronoPoolService.deleteAll()">Delete All</button>